{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.global.namespace }}
  labels:
    app: grafana
data:
  datasources.yml: |
{{ .Files.Get "observability/grafana/provisioning/datasources/datasources.yml" | indent 4 }}
{{- end }}
