{{- if .Values.promtail.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: promtail
data:
  promtail-config.yml: |
{{ .Files.Get "observability/promtail/promtail-config.yml" | indent 4 }}
{{- end }}
