replicaCount: 2

image:
  repository: brewflow/user-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8081

database:
  name: users_db

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi

healthCheck:
  startup:
    path: /actuator/health/liveness
    initialDelaySeconds: 30
    periodSeconds: 3
    timeoutSeconds: 3
    failureThreshold: 20

  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3

  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 5

env:
  SPRING_PROFILES_ACTIVE: "k8s"
