user-service:
  base-url: ${USER_SERVICE_URL}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,caches
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 10ms,50ms,100ms,200ms,500ms,1s,2s,5s
    tags:
      application: ${spring.application.name}
    cache:
      instrument-cache: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${MANAGEMENT_ZIPKIN_TRACING_ENDPOINT}
