{{- if .Values.global.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: brewflow-ingress
  namespace: {{ .Values.global.namespace | default "brewflow" }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{- range $key, $value := .Values.global.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.global.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api-gateway
                port:
                  number: 8080
{{- end }}
