replicaCount: 1

image:
  repository: brewflow/api-gateway
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1000m
    memory: 1.5Gi

env:
  SPRING_PROFILES_ACTIVE: "k8s"