replicaCount: 1

image:
  repository: brewflow/order-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8082

database:
  name: orders_db

redis: true

healthCheck:
  startup:
    path: /actuator/health/liveness
    initialDelaySeconds: 40
    periodSeconds: 3
    timeoutSeconds: 3
    failureThreshold: 20

  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3

  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 5


env:
  SPRING_PROFILES_ACTIVE: "k8s"

