postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "16-alpine"
    pullPolicy: IfNotPresent

  service:
    port: 5432

  persistence:
    enabled: false
    size: 1Gi

  env:
    POSTGRES_DB: brewflow
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 3000m
      memory: 2Gi

kafka:
  enabled: true
  image:
    repository: apache/kafka
    tag: "4.1.0"
    pullPolicy: IfNotPresent

  service:
    port: 9092

  env:
    KAFKA_NODE_ID: "1"
    KAFKA_PROCESS_ROLES: "broker,controller"
    KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
    KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka.brewflow-infra.svc.cluster.local:9092"
    KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9093"
    KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
    KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
    CLUSTER_ID: "mLWQJGmWRmWe2Qdy3KJm2A"
    KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
    KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
    KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
    KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    KAFKA_NUM_PARTITIONS: "3"

  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

redis:
  enabled: true
  image:
    repository: redis
    tag: "7-alpine"
    pullPolicy: IfNotPresent

  service:
    port: 6379

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

mailhog:
  enabled: true
  image:
    repository: mailhog/mailhog
    tag: latest
    pullPolicy: IfNotPresent

  ports:
    smtp: 1025
    http: 8025

  service:
    type: NodePort
    nodePort: 30080

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  ingress:
    enabled: true
